@model MilkyProject.WebUI.Dtos.CategoryDtos.CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/_NewAdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                    <h2>Yeni Kategori Ekle</h2>
                </div>
            </div>
            <div class="table_section padding_infor_info">
                <form method="post">
                    <div class="form-group">
                        <label class="form-label">Kategori Adı</label>
                        <input type="text" class="form-control" name="categoryName" placeholder="Kategori Adı" />
                    </div>
                    <button type="submit" class="btn btn-outline-success">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>
