<div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Ofisimiz</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i> Beyazıt Ticaret adres Şirinevler Mah., Maraşal Fevzi Çakmak 3. Sok., No:17B</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0 212 619 6114</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>Milkyy_M@gmail.com</p>
                <div class="d-flex pt-3">
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">
                    Hızlı Linkler
                </h5>
                <a class="btn btn-link" href="">
                    Hakkımızda
                </a>
                <a class="btn btn-link" href="">Bize Ulaşın</a>
                <a class="btn btn-link" href="">
                    Hizmetlerimiz
                </a>
                <a class="btn btn-link" href="">
                    Şartlar ve koşullar
                </a>
                <a class="btn btn-link" href="">
                    Destek
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">
                    Mesai saatleri
                </h5>
                <p class="mb-1">
                    Pazartesi - Cuma
                </p>
                <h6 class="text-light">09:00-19:00</h6>
                <p class="mb-1">Cumartesi</p>
                <h6 class="text-light">09:00-15:00</h6>
                <p class="mb-1">Pazar</p>
                <h6 class="text-light">Kapalı</h6>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">
                    Abone Ol
                </h5>
                <p>Yeni ürünlerden haberdar olun</p>
                <div class="position-relative w-100">
                    <form method="post" action="/Contact/AddNewsletter">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" name="Email" placeholder="Mail adresiniz">
                        <button type="submit" class="btn btn-secondary py-2 position-absolute top-0 end-0 mt-2 me-2">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
﻿<div class="container-fluid bg-secondary text-body copyright py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="fw-semi-bold" href="#">Milky</a>, Tum hakları saklıdır.
            </div>
            <div class="col-md-6 text-center text-md-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Developed by <a class="fw-semi-bold" href="https://htmlcodex.com">Mehmet Kılıçer</a>
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>