
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
﻿
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Admin Panel</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="~/pluto-1.0.0/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/custom.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            ﻿<nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" src="~/pluto-1.0.0/images/layout_img/user_img.jpg" alt="#" /></div>
                            <div class="user_info">
                                <h6>John David</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4>General</h4>
                    <ul class="list-unstyled components">
                        <li><a href="/Admin/Default/Index"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a></li>
                        <li><a href="/Admin/AdminAbout/Index"><i class="fa fa-info-circle orange_color"></i> <span>Hakkımızda Alanı</span></a></li>
                        <li><a href="/Admin/AboutBanner/Index"><i class="fa fa-newspaper-o purple_color"></i> <span>Hakkımızda Alanı Banner</span></a></li>
                        <li><a href="/Admin/Category/Index"><i class="fa fa-tasks green_color"></i> <span>Kategori</span></a></li>
                        <li><a href="/Admin/Product/Index"><i class="fa fa-cutlery blue2_color"></i> <span>Ürünler</span></a></li>
                        <li><a href="/Admin/ContactInfo/Index"><i class="fa fa-arrows red_color"></i> <span>Adres Bilgileri</span></a></li>
                        <li><a href="/Admin/Gallery/Index"><i class="fa fa-image orange_color"></i> <span>Galeri</span></a></li>
                        <li><a href="/Admin/Message/Index"><i class="fa fa-send yellow_color"></i> <span>Mesajlar</span></a></li>
                        <li><a href="/Admin/Newsletter/Index"><i class="fa fa-envelope green_color"></i> <span>Mail Bülteni</span></a></li>
                        <li><a href="/Admin/OpenHour/Index"><i class="fa fa-bell purple_color"></i> <span>Çalışma Saatleri</span></a></li>
                        <li><a href="/Admin/Service/Index"><i class="fa fa-tags blue2_color"></i> <span>Hizmetler</span></a></li>
                        <li><a href="/Admin/Slider/Index"><i class="fa fa-sliders yellow_color"></i> <span>Slider</span></a></li>
                        <li><a href="/Admin/SocialMedia/Index"><i class="fa fa-certificate green_color"></i> <span>Sosyal Medya</span></a></li>
                        <li><a href="/Admin/Team/Index"><i class="fa fa-users orange_color"></i> <span>Çalışanlar</span></a></li>
                        <li><a href="/Admin/Testimonial/Index"><i class="fa fa-comment yellow_color"></i> <span>Müşteri Yorumları</span></a></li>
                        <li><a href="/Admin/WhyUs/Index"><i class="fa fa-question red_color"></i> <span>Neden Biz</span></a></li>

                    </ul>
                </div>
            </nav>
            <div id="content">
                ﻿<div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                        <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                                    </ul>
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="~/pluto-1.0.0/images/layout_img/user_img.jpg" alt="#" /><span class="name_user">John David</span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="profile.html">My Profile</a>
                                                <a class="dropdown-item" href="settings.html">Settings</a>
                                                <a class="dropdown-item" href="help.html">Help</a>
                                                <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="midde_cont">
                    <div class="container-fluid">
                        ﻿<div class="row column_title">
                            <div class="col-md-12">
                                <div class="page_title">
                                    @* <h2>@ViewData["InnerTitle"]</h2> *@
                                </div>
                            </div>
                        </div>
                        @* @RenderBody() *@
                    </div>
                    <div class="container-fluid">
                        <div class="footer">
                            <p>
                                Copyright © 2018 Designed by Mehmet Kılıcer. Tüm hakları saklıdır.<br><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    ﻿<!-- jQuery -->
    <script src="~/pluto-1.0.0/js/jquery.min.js"></script>
    <script src="~/pluto-1.0.0/js/popper.min.js"></script>
    <script src="~/pluto-1.0.0/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/pluto-1.0.0/js/animate.js"></script>
    <!-- select country -->
    <script src="~/pluto-1.0.0/js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="~/pluto-1.0.0/js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="~/pluto-1.0.0/js/Chart.min.js"></script>
    <script src="~/pluto-1.0.0/js/Chart.bundle.min.js"></script>
    <script src="~/pluto-1.0.0/js/utils.js"></script>
    <script src="~/pluto-1.0.0/js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="~/pluto-1.0.0/js/perfect-scrollbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script src="~/pluto-1.0.0/js/custom.js"></script>
    <script src="~/pluto-1.0.0/js/chart_custom_style1.js"></script>
</body>
</html>
